.admin-card .card {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    width: 50%;
    margin-top: 4px;
    background-color: #797474fa;
    color: #fff;
  }
  
  /* On mouse-over, add a deeper shadow */
  .admin-card .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .admin-card .container {
    padding: 2px 16px;
  }

  .admin-card button{
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    background-color: #45a049;
  }