.test
{
  background-color:#fff;
}

button {
  background-color: #4CAF50; /* Green */
  border: 1px solid white;
  color: white;
 
 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}